img {
    width: 180px;
    height: 230px;
    padding: 10px;
}

.row {
    justify-content: center;
}

.item {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 14px;
    margin-right: 0px;
    margin-top: 20px;
}

.image {
    width: 300px;
    height: 450px;
}

.vote {
    display: flex;
    justify-content: center;
}

.fa-star {
    margin-right: 3px;
    color: rgba(255, 255, 0, 0.918);
}

.star {
    font-size: 1.5em;
}

.card {
    margin: 5px;
    padding: 0.3em;
}

.cardbody {
    padding: 0rem 1.25rem 1.25rem 1.25rem;
}

.drag {
    cursor: pointer;
}

#notes {
    background-color: #3e3e3e;
    padding: 1em 2em 2em 2em;
    border-radius: 2em;
}