img {
    width: 180px;
    height: 230px;
    padding: 10px;
    border-radius: 1.5em;
}

footer {
    margin-top: 50px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #9E9E9E;
    padding-top: 25px;
    color: #908f8f;
}

.row {
    justify-content: center;
}

.item {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 14px;
    margin-right: 0px;
    margin-top: 20px;
}

.image {
    width: 200px;
    height: 250px;
    cursor: pointer;
}

.vote {
    display: flex;
    justify-content: center;
}

.fa-star {
    margin-right: 3px;
    color: rgba(255, 255, 0, 0.918);
}

.star {
    font-size: 1.5em;
}

.card {
    margin: 5px;
    padding: 0.3em;
}

.cardbody {
    padding: 0rem 1.25rem 1.25rem 1.25rem;
}

.drag {
    cursor: pointer;
}

.modal-content {
    border-radius: 5em;
}

.modal-body {
    display: flex;
    justify-content: flex-start;
    margin: 1em;
}

.modal-footer {
    justify-content: center;
}

.recycle {
    width: 500px;
    height: 200px;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loveHeader {
    background-color: #ef826e;
}

#sciFiHeader {
    background-color: #ca79ca;
}

#comedyHeader {
    background-color: #ffff69;
}

#thrillerHeader {
    background-color: #ef3977;
}

#actionHeader {
    background-color: cornflowerblue;
}

#notes {
    background-color: #3e3e3e;
    padding: 1em 2em 2em 2em;
    border-radius: 2em;
}